* {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.titler {
    margin-top: 10px;
}

.header {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 20px;

}

.hide {
    margin-top: 0px;
    padding-top: 0px;
    padding: auto;
}

.Audio {
    width: 55%;
    padding: 10px;
}

.question {
    width: 55%;
    margin-top : 20px ;
    max-width: 300px;
    display: block;
    border-radius: 20px;
}

.btn {
    background-color: cyan;
    border-color: inherit;
    border-radius: 30px;
    padding: 12px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.6s;
    /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {
    box-shadow: 0 6px 10px 0 rgb(172, 213, 239), 0 4px 7px 0 rgb(190, 218, 218);
}

.question:hover {
    box-shadow: 0 8px 15px 0 rgb(172, 213, 239), 0 8px 16px 0 rgb(190, 218, 218);
    transition-duration: 1s;

}
.container {
    border: 2px solid white;
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 1px;
    padding-bottom: 20px;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
}



/* Dropdown Button */
.Hintbtn {
    background-color: inherit;
    color: black ;
    border:none ;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 32px;
    margin: 10px auto  10px auto ;
    cursor: pointer;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */